{{ range where .Pages "Section" "post" }}
  <h1 class="post-list {{ if ne .Params.summary false }}summary{{ end }}">
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </h1>
  {{- if .Truncated -}}
  {{- printf "%s" .Summary | markdownify -}}
  <p class="read-more">
    <a href="{{- .Permalink -}}" class="continue">read more..</a>
  </p>
  {{- else -}}
  {{ if ne .Params.summary false }}
  {{ .Summary }}
  {{ end }}
  {{- end -}}

  {{ range .Pages }}
    <article>
      <h2 class="post-list 
      {{- if ne .Params.summary false }}summary{{ end -}}
      ">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      {{- if .Truncated -}}
      {{- printf "%s" .Summary | markdownify -}}
      <p class="read-more">
        <a href="{{- .Permalink -}}" class="continue">read more..</a>
      </p>
      {{- else -}}
      {{- .Content -}}
      {{- end -}}
    </article>
<hr/>
{{ end }}

{{ end }}
